<!-- Start Hero Area -->
<section class="hero-area">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text">
                                <!-- Start Hero Text -->
                                <div class="section-heading">
                                    <h2 class="wow fadeInLeft" data-wow-delay=".3s">Find A Doctor & <br>Book Appointment
                                    </h2>
                                    <p class="wow fadeInLeft" data-wow-delay=".5s">Since the first days of operation of
                                        MediGrids, our teaming has been focused on
                                        building a high-qualities medicals service by MediGrids.</p>
                                    <div class="button wow fadeInLeft" data-wow-delay=".7s">
                                        <a href="appointment.html" class="btn">Book Appointment</a>
                                        <a href="about-us.html" class="btn">About Us</a>
                                    </div>
                                </div>
                                <!-- End Hero Text -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".5s">
                                <img src="assets/images/hero/02.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text wow fadeInLeft" data-wow-delay=".3s">
                                <!-- Start Hero Text -->
                                <div class="section-heading">
                                    <h2>We only give <br> Best care to your eyes</h2>
                                    <p>Since the first days of operation of MediGrids, our teaming has been focused
                                        on
                                        building a high-qualities medicals service by MediGrids.</p>
                                    <div class="button">
                                        <a href="appointment.html" class="btn">Book Appointment</a>
                                        <a href="about-us.html" class="btn">About Us</a>
                                    </div>
                                </div>
                                <!-- End Hero Text -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image">
                                <img src="assets/images/hero/slider-2.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text wow fadeInLeft" data-wow-delay=".3s">
                                <!-- Start Hero Text -->
                                <div class="section-heading">
                                    <h2>Superior solutions that <br> help you to shine.</h2>
                                    <p>Since the first days of operation of MediGrids, our teaming has been focused
                                        on
                                        building a high-qualities medicals service by MediGrids.</p>
                                    <div class="button">
                                        <a href="appointment.html" class="btn">Book Appointment</a>
                                        <a href="about-us.html" class="btn">About Us</a>
                                    </div>
                                </div>
                                <!-- End Hero Text -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image">
                                <img src="assets/images/hero/slider-3.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev hero-area-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next hero-area-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </section>
  <!-- End Hero Area -->