.hero-area-btn {
    z-index: 3;
}

.hero-area {
    z-index: 2;
    position: relative;
  }
  
  .hero-area.style2 .single-slider {
    background-color: #f5f5f5;
    height: 650px;
  }
  
  .hero-area.style2 .tns-controls button {
    border-color: #006838;
    color: #006838;
  }
  
  .hero-area.style2 .tns-controls button:hover {
    background-color: #006838;
    color: #fff;
  }
  
  .hero-area.style2 .hero-text {
    margin-top: 170px;
  }
  
  .hero-area.style2 .hero-text h2 {
    color: #081828;
  }
  
  .hero-area.style2 .hero-text p {
    color: #888;
  }
  
  .hero-area.style2 .hero-text .button .btn {
    background-color: #006838;
    color: #fff;
  }
  
  .hero-area.style2 .hero-text .button .btn::before {
    background-color: #88C250;
  }
  
  .hero-area.style2 .hero-text .button .btn:hover {
    color: #fff;
  }
  
  .hero-area.style2 .hero-text .button .btn.alt {
    background-color: #88C250;
  }
  
  .hero-area.style2 .hero-text .button .btn.alt::before {
    background-color: #006838;
  }
  
  .hero-area .shape1 {
    position: absolute;
    left: -60px;
    top: 150px;
    height: 120px;
    z-index: 1;
  }
  
  .hero-area .shape2 {
    position: absolute;
    right: 30px;
    bottom: 50px;
    height: 100px;
    z-index: 1;
  }
  
  .hero-area .tns-controls button {
    width: 45px;
    height: 45px;
    line-height: 42px;
    cursor: pointer;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    background: transparent;
    border: none;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -25px;
    border: 2px solid #fff;
    opacity: 0;
    visibility: hidden;
  }
  
  .hero-area .tns-controls button:hover {
    background-color: #fff;
    border-color: transparent;
    color: #88C250;
  }
  
  .hero-area .tns-controls button:first-child {
    left: 0;
  }
  
  .hero-area .tns-controls button:last-child {
    right: 0;
  }
  
  .hero-area:hover .tns-controls button {
    opacity: 1;
    visibility: visible;
  }
  
  .hero-area:hover .tns-controls button:first-child {
    left: 20px;
  }
  
  .hero-area:hover .tns-controls button:last-child {
    right: 20px;
  }
  
  .hero-area .single-slider {
    height: 750px;
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: #006838;
  }
  
  .hero-area .single-slider .hero-image {
    position: absolute;
    bottom: 0;
  }
  
  .hero-area .single-slider .hero-image img {
    width: 90%;
  }
  
  .hero-area .hero-text {
    margin-top: 280px;
  }
  
  .hero-area .hero-text h2 {
    color: #fff;
    font-size: 38px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
  }
  
  .hero-area .hero-text p {
    color: #ddd;
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
  
  .hero-area .hero-text .button {
    margin-top: 35px;
  }
  
  .hero-area .hero-text .button .btn {
    background-color: #fff;
    color: #081828;
  }
  
  .hero-area .hero-text .button .btn::before {
    background-color: #88C250;
  }
  
  .hero-area .hero-text .button .btn:hover {
    color: #fff;
  }