html {
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2C2B2B;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto; 
  padding: 0 10px;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  border: 3px solid #1E63E4;
  border-radius: 100px;
  padding: 16px 55px;
}

.header {
  margin-top: 30px;
}

.header__box {
  display: flex;
}

.header-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px 10px 20px;
}

.header-info__contacts {
  display: flex;
  justify-content: space-between;
}

.header-info__contact {
  display: flex;
  align-items: center;
}

.header-info__contact img{
  width: 30px;
}

.header-info__contact p {
  margin-left: 10px;
  font-size: 16px;
}

.contact-social:not(:first-child) {
  margin-left: 20px;
}

.header-info__callback {
  color: #1E63E4;
  background-color: #fff;
  margin-top: 50px;
  margin-left: auto;
}

.preview {
  margin-top: 30px;
}

.preview__inner {
  display: flex;
}

.preview__text {
  background-color: #1E63E4;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 50px;
  padding-bottom: 165px;
  color: #fff; 
}

.preview__text-big {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
}

.preview__text-small {
  font-size: 20px;
  font-weight: 500;
}

.preview__image {
  flex: 1;
  width: 100%;
}

.preview__image img{
  width: inherit;
  height: 100%;
}

.title {
  font-size: 32px;
  font-weight: 500;
  width: 190px;
  border-bottom: 3px solid #1E63E4;
  padding-bottom: 20px;
  margin: 100px 0px 50px;
}

.list {
  padding: 0 80px;
}

.list__item {
  display: flex;
}

.list__item:not(:first-child) {
  margin-top: 60px;
}

.list__item-box {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}

.list__item-box__primary-text {
  font-size: 32px;
  font-weight: 600;
}

.list__item-box__text {
  font-size: 20px;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 10px;
}

.list__item-btn {
  margin-top: auto;
  margin-left: auto;
  color: #fff;
  background-color: #1E63E4;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 18px;
}

.carousel{
  padding: 70px;
  margin-bottom: 100px;
  background-color: #1E63E4;
}

.carousel__inner{
  margin: 0 -7px;
}

.carousel__item{
  margin: 0 7px;
}

.carousel__item-box{
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.carousel__item-box:hover .carousel__item-img {
  opacity: 0.7;
}

.carousel__item-img {
  max-width: 100%;
}

.carousel__item-box:hover .carousel__item-hidden-info {
  opacity: 1; 
}

.carousel__item-hidden-info {
  text-align: center;
  position: absolute;
  top: 45%;
  color: #fff;
  opacity: 0;
  z-index: 2; 
}

.carousel__item-title{
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5px;
}

.carousel__item-text {
  font-size: 16px;
  font-weight: 300;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
}

.carousel .slick-prev,
.carousel .slick-next {
    font-size: 0;
    line-height: 0;
    width: 60px; 
    height: 60px;
    background-color: transparent; 
    border: none; 
    outline: none; 
    cursor: pointer;
}

.carousel .slick-prev {
  left: -60px;
}

.carousel .slick-next {
  right: -60px;
  transform: rotate(180deg);
}

.contacts__inner{
  display: flex;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contacts__info-box {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 30px;
}

.contacts-item {
  text-align: center;
  flex: 1;
}

.contacts-item__text-box {
  margin-top: 50px;
}

.contacts-item__text {
  font-size: 16px;
}

.contacts__info-btn {
  color: #fff;
  background-color: #1E63E4;
  align-self: center;
  margin-top: auto;
}

.contacts__map {
  border: 3px solid #1E63E4;
  border-radius: 10px;
  width: 600px;
  height: 450px;
}

/* Footer */

.footer {
  margin-top: 60px;
  padding: 50px;
  background-color: #1E63E4;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer__social-inner{
  display: flex;
  align-items: center;
  color: #fff;
}

.footer__social-text {
  font-size: 20px;
  margin-left: 10px;
}

.footer-contacts__title{
  color: #fff;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.footer-contacts__input{
  width: 320px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  display: block; 
  font-size: 13px;
  font-weight: 300;
  padding: 0 15px;
  color: #5588EA;
}

.footer-contacts__input::placeholder {
  color: #5588EA;
}

.footer-contacts__input-area {
  width: 320px;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  display: block;
  color: #5588EA;
  padding: 10px 15px;
  font-size: 13px;
}

.footer-contacts__input-area::placeholder {
  color: #5588EA;
}

.footer-contacts__btn {
  width: 320px;
  height: 40px;
  border-radius: 10px;
  color: #1E63E4;
  font-size: 22px;
  font-weight: 400;
  background-color: #fff;
  cursor: pointer;
}

.table-title {
  font-size: 40px;
  font-weight: 600;
  margin-left: 60px;
}

.accordion-item.item {
  margin: 30px;
  border: none;
}

.accordion-button.header-list {
  background-color: #DEE6F6;
  font-size: 32px;
  font-weight: 600;
  border-radius: 10px!important;
}

.accordion-button:focus.header-list {
  border-color: inherit;
  box-shadow: none;
}

.accordion-button:not(.collapsed).header-list {
  color: inherit;
  box-shadow: none;
}

.accordion-button::after {
  border-radius: 50%;
  background-image: url(../images/table/according.png) !important;
  background-color: #1E63E4;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.accordion-button::after {
  background-image: url(../images/table/according-collapsed.png) !important;
}

.list {
  width: 100%;
  position: relative;
  z-index: 1;
}

.list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  width: 560px;
  height: 100%;
  background-image: url(../images/table/table_background.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.list tr {
  height: 75px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.list tr:first-child {
  border-top: none;
}

.list tr:not(:last-child) {
  border-bottom: none;
}

.list th {
  margin-left: auto;
  width: 80%;
}

.list td {
  margin-right: auto;
}

@media (max-width: 1140px){

}


@media (max-width: 1024px){
  
}

@media (max-width: 900px){
  
}

@media (max-width: 768px){

}

@media (max-width: 650px){

}

@media (max-width: 600px){
  
}

@media (max-width: 520px){
  
}

@media (max-width: 340px){
  
}
