<section class="services">
    <app-title>Послуги</app-title>
   
    <div class="container">
        
        <ul class="list">
            <li class="item">
                <div class="item-img">
                    <img src="assets/images/therapy.png" alt="">
                </div>
                <div class="item-box">
                    <p class="item-box--primary-text">Терапія</p>
                    <p class="item-box--text">
                        Lorem ipsum dolor sit amet consectetur. Diam gravida imperdiet quis ipsum. A maecenas facilisis amet risus. Proin consectetur lorem eget lectus turpis. Turpis in ultrices dolor tempus elementum sagittis egestas lacus. Arcu lectus sed ut donec. Donec libero nisl pretium sagittis morbi gravida.
                    </p>
                    <div class="item-box--btn">
                        <button class="btn">Детальніше ></button>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="item-box">
                    <p class="item-box--primary-text">Ортодонтія</p>
                    <p class="item-box--text">
                        Lorem ipsum dolor sit amet consectetur. Diam gravida imperdiet quis ipsum. A maecenas facilisis amet risus. Proin consectetur lorem eget lectus turpis. Turpis in ultrices dolor tempus elementum sagittis egestas lacus. Arcu lectus sed ut donec. Donec libero nisl pretium sagittis morbi gravida.
                    </p>
                    <div class="item-box--btn">
                        <button class="btn">Детальніше ></button>
                    </div>
                </div>
                <div class="item-img">
                    <img src="assets/images/orthodontics.png" alt="">
                </div>
            </li>

            <li class="item">
                <div class="item-img">
                    <img src="assets/images/orthopedics.png" alt="">
                </div>
                <div class="item-box">
                    <p class="item-box--primary-text">Ортопедія</p>
                    <p class="item-box--text">
                        Lorem ipsum dolor sit amet consectetur. Diam gravida imperdiet quis ipsum. A maecenas facilisis amet risus. Proin consectetur lorem eget lectus turpis. Turpis in ultrices dolor tempus elementum sagittis egestas lacus. Arcu lectus sed ut donec. Donec libero nisl pretium sagittis morbi gravida.
                    </p>
                    <div class="item-box--btn">
                        <button class="btn">Детальніше ></button>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="item-box">
                    <p class="item-box--primary-text">Хірургія</p>
                    <p class="item-box--text">
                        Lorem ipsum dolor sit amet consectetur. Diam gravida imperdiet quis ipsum. A maecenas facilisis amet risus. Proin consectetur lorem eget lectus turpis. Turpis in ultrices dolor tempus elementum sagittis egestas lacus. Arcu lectus sed ut donec. Donec libero nisl pretium sagittis morbi gravida.
                    </p>
                    <div class="item-box--btn">
                        <button class="btn">Детальніше ></button>
                    </div>
                </div>
                <div class="item-img">
                    <img src="assets/images/surgery.png" alt="">
                </div>
            </li>

            <li class="item">
                <div class="item-img">
                    <img src="assets/images/x-ray.png" alt="">
                </div>
                <div class="item-box">
                    <p class="item-box--primary-text">Рентген</p>
                    <p class="item-box--text">
                        Lorem ipsum dolor sit amet consectetur. Diam gravida imperdiet quis ipsum. A maecenas facilisis amet risus. Proin consectetur lorem eget lectus turpis. Turpis in ultrices dolor tempus elementum sagittis egestas lacus. Arcu lectus sed ut donec. Donec libero nisl pretium sagittis morbi gravida.
                    </p>
                    <div class="item-box--btn">
                        <button class="btn">Детальніше ></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>