.item-img {

}

.item {
    display: flex;
}

.item-box {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;

    &--primary-text {
        font-size: 32px;
        font-weight: 700;
    }

    &--text {
        font-size: 20px;
        font-weight: 300;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    &--btn {
        margin-top: auto;
        margin-left: auto;
    }

    &--btn button{
        color: var(--white-color);
        background-color: var(--blue-color);
        border-radius: 30px;
        padding: 10px 25px;
        font-size: 18px;
        // font-weight: 700;
    }
}
