<section class="carousel">
    <div class="container">
      <h2 class="title">
        ПРИГНАННЫЕ НАМИ АВТО
      </h2>
      <div class="carousel__inner">

        <div class="carousel__item">
          <div class="carousel__item-box">
            <img class="carousel__item-img" src="assets/images/team.png" alt="">
            <h4 class="carousel__item-title">INFINITI QX50 2016 г.</h4>
            <p class="carousel__item-text">Экономия 4500 $</p>
          </div>
        </div>
        <div class="carousel__item">
          <div class="carousel__item-box">
            <img class="carousel__item-img" src="assets/images/team.png" alt="">
            <h4 class="carousel__item-title">TESLA MODEL 3 2018 г.</h4>
            <p class="carousel__item-text">Экономия 5500 $</p>
          </div>
        </div>
        <div class="carousel__item">
          <div class="carousel__item-box">
            <img class="carousel__item-img" src="assets/images/team.png" alt="">
            <h4 class="carousel__item-title">TESLA MODEL 3 2018 г.</h4>
            <p class="carousel__item-text">Экономия 5500 $</p>
          </div>
        </div>
        <div class="carousel__item">
          <div class="carousel__item-box">
            <img class="carousel__item-img" src="assets/images/team.pngg" alt="">
            <h4 class="carousel__item-title">INFINITI QX50 2016 г.</h4>
            <p class="carousel__item-text">Экономия 4500 $</p>
          </div>
        </div>
        <div class="carousel__item">
          <div class="carousel__item-box">
            <img class="carousel__item-img" src="assets/images/team.png" alt="">
            <h4 class="carousel__item-title">TESLA MODEL 3 2018 г.</h4>
            <p class="carousel__item-text">Экономия 5500 $</p>
          </div>
        </div>
        <div class="carousel__item">
          <div class="carousel__item-box">
            <img class="carousel__item-img" src="assets/images/team.png" alt="">
            <h4 class="carousel__item-title">TESLA MODEL 3 2018 г.</h4>
            <p class="carousel__item-text">Экономия 5500 $</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="src/assets/css/js/slick.min.js"></script>