<header class="header">
    <div class="container">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="">
    </div>

    <div class="info">
        <div class="info--contacts">
            <div class="info--contact">
                <img src="assets/images/location.svg" alt="">
                <p>м. Дніпро, вул. Шолохова 7</p>
            </div>
            <div class="info--contact">
                <img src="assets/images/clock.svg" alt="">
                <div>
                    <p>Пн - Пт: 9:00 - 18:00</p>
                    <p>Сб: 9:00 - 16:00 | Нед: - вих.</p>
                </div>
            </div>
            <div class="info--contact">
                <img src="assets/images/phone.svg" alt="">
                <div>
                    <p>+38 095 770 07 50</p>
                    <p>+38 068 770 07 50</p>
                </div>
            </div>
            <div class="info--contact">
                <img class="info--contact-social" src="assets/images/instagram.svg" alt="">
                <img class="info--contact-social" src="assets/images/facebook.svg" alt="">
            </div>
        </div>
        <div class="info--callback">
            <button class="info--callback-btn">Записатися зараз</button>
        </div>
    </div>
</div>
</header>
