.logo {

}

.header {
    display: flex;
    margin: 30px;
}

.info {
    width: 100%;
    padding: 40px 60px 10px 60px;

    &--contacts {
        display: flex;
        justify-content: space-between;
    }

    &--contact {
        display: flex;
        align-items: center;
    }

    &--contact img{
        width: 30px;
    }

    &--contact p:first-child {
        margin-bottom: 10px;
    }

    &--contact-social {
        margin-left: 20px;
    }

    &--callback {
        display: flex;
    }

    &--callback-btn {
        margin-top: 50px;
        margin-left: auto;
        color: #1E63E4;
        font-size: 20px;
        font-weight: 600;
        border: 3px solid #1E63E4;
        border-radius: 100px;
        padding: 16px 55px;
    }
}