.appointment.page {
    background-color: #f9f9f9;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .appointment.page .appointment-title h2 {
    font-size: 30px;
  }
  
  .appointment.page .image {
    position: absolute;
    bottom: 0;
  }
  
  .appointment.page .appointment-form {
    padding: 50px;
    -webkit-box-shadow: 0px 1px 30px 0px rgba(32, 32, 32, 0.11);
    box-shadow: 0px 1px 30px 0px rgba(32, 32, 32, 0.11);
    border-top: 4px solid #006838;
    border-radius: 0;
    background-color: #fff;
  }
  
  .appointment.page .appointment-input {
    margin-bottom: 20px;
  }
  
  .appointment.page .button {
    padding: 0px 8px;
  }
  
  .appointment.page .button .btn {
    width: auto;
  }
  
  .appointment-form {
    background: #fff3;
    border-radius: 6px;
    padding: 100px 0;
  }
  
  .appointment-form .custom-padding {
    padding-left: 8px !important;
  }
  
  .appointment-form .appointment-title {
    margin-bottom: 40px;
    position: relative;
  }
  
  .appointment-form .appointment-title span {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -40px;
    left: 0;
    color: #eee;
    z-index: -1;
    opacity: 1;
    opacity: 0.4;
    font-family: 'Merriweather', serif;
  }
  
  .appointment-form .appointment-title h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .appointment-form .small-title {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    margin-left: 8px;
  }
  
  .appointment-form .appointment-input {
    position: relative;
    padding: 0px 8px;
  }
  
  .appointment-form .appointment-input input {
    width: 100%;
    background: #fff;
    border-radius: 0;
    border: none;
    padding: 0 25px;
    padding-right: 45px;
    height: 55px;
    font-size: 14px;
    border: 1px solid #eee;
    font-weight: 400;
    color: #666;
  }
  
  .appointment-form .appointment-input input:focus {
    outline: none !important;
  }
  
  .appointment-form .appointment-input textarea {
    width: 100%;
    background: #fff;
    border-radius: 0;
    border: none;
    padding: 25px;
    padding-right: 45px;
    height: 150px;
    font-size: 14px;
    border: 1px solid #eee;
    font-weight: 400;
    color: #666;
  }
  
  .appointment-form .appointment-input textarea:focus {
    outline: none !important;
  }
  
  .appointment-form .appointment-input label {
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .appointment-form .appointment-input select {
    width: 100%;
    background: #fff;
    border-radius: 0;
    border: 1px solid #eee;
    padding: 0 25px;
    height: 55px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #888;
    font-weight: 400;
  }
  
  .appointment-form .appointment-input select:focus {
    outline: none !important;
  }
  
  .appointment-form .appointment-input select:focus option:hover {
    background: #88C250 !important;
    color: #fff !important;
  }
  
  .appointment-form button {
    width: 100%;
    border-radius: 6px;
    border: none;
    padding: 0 25px;
    height: 55px;
    margin-left: 5px;
  }
  
  .appointment-form button i {
    display: inline-block;
    margin-right: 5px;
  }