<!-- Start Appointment Area -->
<section class="appointment">
    <div class="container">
        <!-- Appointment Form -->
        <div class="appointment-form">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="appointment-title">
                        <span>Appointment</span>
                        <h2>Book An Appointment</h2>
                        <p>Please feel welcome to contact our friendly reception staff with any general or medical
                            enquiry. Our doctors will receive or return any urgent calls.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 p-0">
                    <div class="appointment-input">
                        <label for="name"><i class="lni lni-user"></i></label>
                        <input type="text" name="name" id="name" placeholder="Your Name">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-0">
                    <div class="appointment-input">
                        <label for="email"><i class="lni lni-envelope"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-0">
                    <div class="appointment-input">
                        <label for="department"><i class="lni lni-notepad"></i></label>
                        <select name="department" id="department">
                            <option value="none" selected disabled>Department</option>
                            <option value="none">General Surgery</option>
                            <option value="none">Gastroenterology</option>
                            <option value="none">Nutrition & Dietetics</option>
                            <option value="none">Cardiology</option>
                            <option value="none">Neurology</option>
                            <option value="none">Pediatric</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 custom-padding">
                    <div class="appointment-btn button">
                        <button class="btn">Get Appointment</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Appointment Form -->
    </div>
  </section>
  <!-- End Appointment Area -->