<!-- Start About Area -->
<section class="about-us section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                    <img src="assets/images/about/about.png" alt="#">
                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                        class="glightbox video"><i class="lni lni-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <!-- content-1 start -->
                <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                    <span class="sub-heading">About</span>
                    <h2>Thousands of specialities for any
                        type diagnostic.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi aliquip ex ea commodo consequat.</p>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <ul class="list">
                                <li><i class="lni lni-checkbox"></i>Conducts eye health checkups</li>
                                <li><i class="lni lni-checkbox"></i>Best lasik treatment</li>
                                <li><i class="lni lni-checkbox"></i>Treats minor illnesses</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-12">
                            <ul class="list">
                                <li><i class="lni lni-checkbox"></i>Special eye exam</li>
                                <li><i class="lni lni-checkbox"></i>Contact lens service</li>
                                <li><i class="lni lni-checkbox"></i>Special Retina exam</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a href="about-us.html" class="btn">More About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End About Area -->